name: C/C++ CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/checkout@v2
    - uses: actions/checkout@v2
    - name: header
      run: gcc 3_Implementation/src/carbon.h -c
    - name: carbon file
      run: gcc 3_Implementation/src/carbon.c -c      
    - name: main
      run: gcc 3_Implementation/src/main.c -o main.exe
    - name: run
      run: .\main.exe           
